In [15]:
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import preprocessing
import seaborn as sns
import umap

data = pd.read_csv('zoo.csv')
data

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,wallaby,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,wasp,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,wolf,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,worm,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,wren,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [16]:
D = data.drop(['class_type', 'animal_name'], axis = 1)

scaler = preprocessing.MinMaxScaler()
D = pd.DataFrame(scaler.fit_transform(D), columns = D.columns)
D

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.00,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,1.0
97,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.75,0.0,0.0,0.0
98,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
99,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0
100,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,0.0

In [5]:
T = TSNE(n_components=2, perplexity=5, random_state=123)

In [6]:
TSNE_features = T.fit_transform(D)

In [7]:
TSNE_features[1:4,:]

array([[ -42.221825,  326.6708  ],
       [ 243.86093 , -102.07853 ],
       [ 274.06534 ,  149.24966 ]], dtype=float32)

In [17]:
DATA=D.copy()
DATA['x']=TSNE_features[:,0]
DATA['y']=TSNE_features[:,1]

In [11]:
%matplotlib
fig = plt.figure()
sns.scatterplot(x='x',y='y',hue=data['class_type'],data=DATA,palette='bright')
plt.show()

Using matplotlib backend: <object object at 0x0000026F2C5033A0>

In [12]:
pip install umap-learn

Requirement already satisfied: umap-learn in c:\users\vovaf\anaconda3\lib\site-packages (0.5.4)
Requirement already satisfied: numpy>=1.17 in c:\users\vovaf\anaconda3\lib\site-packages (from umap-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.1 in c:\users\vovaf\anaconda3\lib\site-packages (from umap-learn) (1.10.1)
Requirement already satisfied: scikit-learn>=0.22 in c:\users\vovaf\anaconda3\lib\site-packages (from umap-learn) (1.3.0)
Requirement already satisfied: numba>=0.51.2 in c:\users\vovaf\anaconda3\lib\site-packages (from umap-learn) (0.57.0)
Requirement already satisfied: pynndescent>=0.5 in c:\users\vovaf\anaconda3\lib\site-packages (from umap-learn) (0.5.10)
Requirement already satisfied: tqdm in c:\users\vovaf\anaconda3\lib\site-packages (from umap-learn) (4.65.0)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in c:\users\vovaf\anaconda3\lib\site-packages (from numba>=0.51.2->umap-learn) (0.40.0)
Requirement already satisfied: joblib>=0.11 in c:\users\vovaf\anaconda3\lib\site-packages (from pynndescent>=0.5->umap-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\vovaf\anaconda3\lib\site-packages (from scikit-learn>=0.22->umap-learn) (2.2.0)
Requirement already satisfied: colorama in c:\users\vovaf\anaconda3\lib\site-packages (from tqdm->umap-learn) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [18]:
D = data.drop(['class_type', 'animal_name'], axis=1)
scaler = preprocessing.MinMaxScaler()
D = pd.DataFrame(scaler.fit_transform(D), columns = D.columns)
D

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.00,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,1.0
97,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.75,0.0,0.0,0.0
98,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
99,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0
100,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,0.0

In [19]:
n_n = (5, 25, 50)
m_d = (0.1, 0.6)

In [21]:
um = dict()
for i in range(len(n_n)):
    for j in range(len(m_d)):
        um[(n_n[i],m_d[j])]=(umap.UMAP(n_neighbors=n_n[i], min_dist=m_d[j]).fit_transform(DATA))

C:\Users\vovaf\anaconda3\Lib\site-packages\sklearn\manifold\_spectral_embedding.py:273: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn(
C:\Users\vovaf\anaconda3\Lib\site-packages\sklearn\manifold\_spectral_embedding.py:273: UserWarning: Graph is not fully connected, spectral embedding may not work as expected.
  warnings.warn(